server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: qiandoudou-backend

  # 文件上传配置
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true
